<section>
    <h2 data-bind="text: displayName"></h2>
    <div>
         	<body>
				<tbody>
        			<table>
        			<thead colspan="3">
	    				<th>Marvel Comics</th>
	    			</thead>
            <tr>
            <td>
                Captain America<a href="app/viewmodels/test">
        	<img src="app/images/capt.jpg" class="thumbnail" alt="Captain America" title="Captain America"/>
        	</a>
            </td>
            <td>
                Iron Man<a href="app/viewmodels/test" class="thumbnail">
        	<img src="app/images/iron.jpg" alt="Iron Man" title="Iron Man"/>
            </td>
            <td>
            Thor<a href="app/viewmodels/test" class="thumbnail">
        	<img src="app/images/thor.jpg" alt="Thor" title="Thor"/>
        	</td>
            <td>
            Hulk<a href="app/viewmodels/test" class="thumbnail">
        	<img src="app/images/hulk.jpg" alt="Hulk" title="Hulk"/>
        	</td>
            </tr>
            <tr>
            <td>
            Spiderman<a href="app/viewmodels/test" class="thumbnail">
        	<img src="app/images/spidey.jpg" alt="Spiderman" title="Spiderman"/>
        	</td>
        	</tr>
            		</table>
				</tbody>
			</body>
    </div>
</section>